In [39]:
#UAS SPADA no 3
#Muhammad Firdaus Maulana
#21.52.0017
#Lakukan sebuah regresi dengan menggunakan Algoritma KNN dalam soal No. 2, dengan ketentuan sebagai berikut :
#a. Apabila Cuaca buruk dengan nilai = 1, Weekday, dan Game = 0, maka berapa roti yang harus dibuat?
#b. Apabila Cuaca baik dengan nilai 4, Weekend, dan Game =1, maka berapa roti yang harus dibuat?

In [40]:
import pandas as pd
import numpy as np

In [41]:
data = pd.read_csv('E:/!!!STIMATA/MATKUL/SISTEM CERDAS/UAS_SPADA/dataset/dataset_soal No. 3.txt')

In [17]:
data.head()

  Category  Weather V-1  Holiday V-2  Game V-3  Qty
0        A            5            1         0  250
1        B            3            1         1  200
2        C            1            1         0   75
3        D            4            1         1  400
4        E            4            0         0  150

In [38]:
data['Weather V-1'].value_counts()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices