In [1]:
#UAS SPADA no 3
#Muhammad Firdaus Maulana
#21.52.0017
#Lakukan sebuah regresi dengan menggunakan Algoritma KNN dalam soal no.3, dengan ketentuan sebagai berikut :
#a. Umur : merupakan umur dari ibu hamil
#b. Kelahiran ke- : merupakan kelahiran anak ke-... dari ibu tersebut
#c. Waktu Kelahiran : 0 = sesuai dengan hari perkiraan lahir (HPL), 1 = prematur, 2 = melebihi hari perkiraan lahir
#d. Tekanan_darah : 0 = untuk darah rendah, 1 = normal, 2 = tinggi
#e. Kelainan Jantung : merupakan kelainan jantung untuk anak yang telah lahir 0 = normal, 1 = kelainan
#f. Caesarian : 1 = Ya, 0 = Normal 
#Pertanyaan:
#a. Berdasarkan data tersebut bagaimana perlakuan dengan kondisi Ibu hamil dengan Usia 35 Tahun, yang merupakan Kelahiran ke -1, dengan Waktu kelahiran sesuai dengan HPL, Memiliki tekanan darahNormal? Carilah KNN dengan menggunakan Key = 5 
#b. Bagaimana Apabila Ibu hamil dengan Usia 29 Tahun, yang merupakan Kelahiran ke -2, dengan Waktu kelahiran sesuai dengan HPL, Memiliki tekanan darah Tinggi? Carilah KNN dengan menggunakan Key = 3

In [2]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('E:/!!!STIMATA/MATKUL/SISTEM CERDAS/UAS_SPADA/dataset/dataset_soal No. 3.txt')

In [7]:
data.head()

,Usia,Kelahiran_ke-,Waktu_Kelahiran,Tekanan_darah,Kelainan_jantung,Caesarian
0,22,1,0,2,0,0
1,26,2,0,1,0,1
2,26,2,1,1,0,0
3,28,1,0,2,0,0
4,22,2,0,1,0,1

In [9]:
from scipy.sparse import csr_matrix

data_matrix = csr_matrix(data.values)

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm='brute')
model_knn.fit(data_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [14]:
#a. Berdasarkan data tersebut bagaimana perlakuan dengan kondisi Ibu hamil dengan Usia 35 Tahun, yang merupakan Kelahiran ke -1, dengan Waktu kelahiran sesuai dengan HPL, Memiliki tekanan darahNormal? Carilah KNN dengan menggunakan Key = 5 

query_index = np.random.choice(data.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(data.iloc[query_index,:].values.reshape(1,-1),n_neighbors=5)

22

In [16]:
#b. Bagaimana Apabila Ibu hamil dengan Usia 29 Tahun, yang merupakan Kelahiran ke -2, dengan Waktu kelahiran sesuai dengan HPL, Memiliki tekanan darah Tinggi? Carilah KNN dengan menggunakan Key = 3

query_index = np.random.choice(data.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(data.iloc[query_index,:].values.reshape(1,-1),n_neighbors=3)

35